<% provide(:title, 'All users') %>
<form action='/searchUsers'>
<input name="query" type="text" />
<input type='submit' value='Search' />
</form>
<h1>All Users(<%= @users.count %>)</h1>

<ul class="users">
  <!--% @users.each do |user| %-->
    <%= render 'user' %>
  <!--% end %-->
</ul>