<% if params[:query].empty? %>
        <span>There were no results for your query</span><br/><br/>
<% else %>
	Result: <% for post in @posts.find(params[:query]) %>
	<!--% @posts.find(params[:query]) do |post| %-->
	<h5><span class="title"><%= post.title %></span></h5>
  	<span class="content"><%= post.content %></span>
  	<!--% end %-->
  	<% end %>
  <!--% render 'show' %-->
<% end %>
<!--% end %-->