<% provide(:title, 'All posts') %>
<form action='/searchPosts'>
<input name="query" type="text" />
<input type='submit' value='Search' />

</form>
<h1>All Posts(<%= @posts.count %>)</h1>

<ol class="posts">
	
  <!--% @users.each do |user| %-->
    <%= render 'posts' %>
  <!--% end %-->
</ol>